body {
    padding-top: 20px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

input {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header_image {
    position: relative;
}

.header_image img {
    max-width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.header_image h2 {
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
}

.tabela {
    font-size: 10px;
}

.highcharts-container {
    width: 100% !important;
    height: 100% !important;
}